rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
      match /contributions/{contributionId} {
        // Allow all operations for real-time collaboration and client-side administrative features
        allow read, create, update, delete: if true;
      }
  }
}
